
$form-vi-prefix: form-vi;

$form-vi-page-background-color: #f8f8f8;

$form-vi-primary-color: #23afdd;
$form-vi-primary-text-color: #fff;

$form-vi-border-color: #ddd;

$form-vi-disabled-color: #23afdd;
$form-vi-disabled-text-color: #fff;

$form-vi-header-text-color: #000;
$form-vi-master-text-color: #000;
$form-vi-slave-text-color: #000;

$form-vi-state-info-color: #000;
$form-vi-state-success-color: #000;
$form-vi-state-warn-color: #000;
$form-vi-state-danger-color: #000;

$form-vi-mask-black-color: #000;
$form-vi-mask-white-color: #000;

$form-vi-header-font-weight: 900;

$form-vi-header-1-font-size: 24px;
$form-vi-header-2-font-size: 20px;
$form-vi-header-3-font-size: 16px;

$form-vi-master-text-size: 14px;
$form-vi-slave-text-size: 12px;

$form-vi-border-radius: 4px;

$form-vi-container-padding-1: 20px;
$form-vi-container-padding-2: 12px;

$form-vi-item-margin-1: 8px;
$form-vi-item-margin-2: 4px;

$form-vi-component-z-index: 1;
$form-vi-marker-z-index:200;
$form-vi-panel-z-index: 600;
$form-vi-popup-z-index: 800;
$form-vi-mask-z-index: 1000;